body{
    display: grid;
    place-items: center;
	background-color: rgb(118, 118, 146);				
    padding: 10%px 30%;

}
h1{
text-align:center;
color:white;
}
#para{
text-align:center;
font-size:14px;
color:gray;
}



.form{
width: 400px;
height:flex;
padding:30px;
background-color: white;
border-top-style:outset;
box-shadow: 0px 4px 8px rgba(0,0,0,2);

}
label{

display:inline-block;
}
input{
border-color:white;
background-color:rgb(236, 226, 226);
color:gray;
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;

box-sizing:border-box;
}


button {
background-color:green;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}
button:hover {
opacity: 0.8;
}
#get_pass{

text-align:right;
float:right;
color:blue;
cursor: pointer;
}
.checkbox{
    align-items: left;
}

